{% load static %}
{% load i18n  %}

Список всех <i>заявок</i> (пробка)<br>

{% for iss in [] %}
	{% block issu %}
	<a href=# ><b> Заявка №: {{ iss.issue_nom }}</b></a><br>
	{% endblock %}
{% endfor %}
